div {
	color:white;
}

.form-control {
	border-radius :0px;	
	color:white;
}

.form-group {
	margin : 30px;	
}

input[type=text], [type=password] {
	background-color: rgba(150,150,150,0.1);
    text-align: center;
    height: 60px;
    border: 2px solid white;
    color:white;
}

input[type=text]:active, input[type=text]:hover, [type=password]:active , [type=password]:hover {
	text-align: center;
    height: 60px;
    border: 2px solid #007bff;
    color:white;
    text-decoration : none;
}


::placeholder {
	color : white;	
}

.btn {
	border-radius:0px;
	width:100%;
	height: 60px;
}

.row {
	margin-top:10%;
}

.alert-danger {
    background-color: #721c24;
    border-color: #721c24;
}